<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Página de practicas masterD" />
    <meta name="robots" content="NOFOLLOW" />
    <meta name="Author" content="Anderson" />
    <meta name="lang" content="es" />
    <meta name="revisit-after" content="2 days" />
    <meta name="category" content="TRABAJO FINAL: HTML/CSS" />

    <title>Contacto</title>

    <!-- Declaracion de fichero de estilos-->
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">

    <!-- Declaracion de fichero de fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coming+Soon&display=swap" rel="stylesheet">

    <!-- Declaracion de fichero de iconos sociales-->
    <link rel="stylesheet" type="text/css" href="../CSS/fonts.css">
    
</head>

<body>
    <!--Header seccion-->
    <header>
        <div class="contenedor">
            <h2 class="logo">SKALA AMD</h2>
            <nav>
                <a href="../index.html">Home</a>
                <a href="../views/portafolio.html">Portafolio</a>
                <a href="../views/presupuesto.html">Presupuesto</a>
                <a href="" class="activo">Contacto</a>
            </nav>
        </div>
    </header>

    <!--Seccion de contacto-->
    <div class="contenedor">
        <h1 class="titulo">Contacto</h1>
    </div>
    <div class="conte_contacto">
        <main>
            <img src="../imagenes/ubicacion.PNG" alt="" class="galeria_mapa">
        </main>
        <aside>
            <p>
                <b>Direccion:</b> C/Rio Salado 1 C.P. 28018  Madrid-España <br/> <br/>
                <b>Movil:</b> 651548115<br/> <br/>
                <b>E-mail:</b> andesonjmr@skalaamd.com<br/> <br/>
            </p>
        </aside>
    </div>

    <!-- Footer Section -->
    <div class="footer">
        <div class="contenedor">
            <div class="row">
                <div class="footer-col">
                    <h4>CONTACTOS</h4>
                    <ul>
                        <li><a href="../views/contacto.html">+34 651548115</a></li>
                        <li><a href="../views/contacto.html">andesonjmr@skalaamd.com</a></li>
                        <li><a href="../views/contacto.html">C/ rio salado 1 28018 madrid</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ENLACES RAPIDOS</h4>
                    <ul>
                        <li><a href="../views/portafolio.html">Portafolio</a></li>
                        <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                        <li><a href="../views/contacto.html">Contacto</a></li>
                        <li><a href="../views/aviso_legal.html">Aviso legal</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/" class="icon icon-facebook" target="blank"></a>
                        <a href="https://www.instagram.com/" class="icon-instagram" target="blank"></a>
                        <a href="https://twitter.com/" class="icon icon-twitter" target="blank"></a>
                        <a href="https://www.linkedin.com/" class="icon icon-linkedin2" target="blank"></a>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright &copy; 2021 | Created by Anderson Murillo</p>
        </div>
    </div>
</body>

</html>